# Gradle
.gradle/
build/
/app/build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/

# Build outputs
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# Assinatura
*.jks
*.keystore

# Firebase
google-services.json

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log